@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

body {
    font-family: 'Poppins', 'Crimson Text';
  }

  .logo {
    width: 150px;
    margin: 0 0 0 70px;
  }
  
  .navContainer {
    display: grid;
    grid-template-columns:1fr;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  } 
  
  nav > ul > li {
    margin: 0 50px;
  }
  
  .logoContainer {
    grid-column: 1;
    grid-row: 1;
  }
  
  .navLinkContainer {
    grid-column: 1;
    grid-row: 1;
  }

.theExpPic {
    object-fit: cover;
    object-position: 50% 28%;
    height: 1000px;
    width:100%;
}

.theExperience {
    position: relative;
    filter: brightness(90%);
  }
  
  .expH1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    font-weight: 100;
    letter-spacing: 5px;
    font-family: 'crimson';
  }

  #Reviews, #Packages {
    display: flex;
    justify-content: center;
    font-family: 'crimson';
    font-size: 50px ;
    font-weight: 100;
    letter-spacing: 5px;
  }

  .container, .container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
  }

  .container, .container2 > div {
    text-align: center;
  }

  .rawilAndAngie, .jacobAndChantal, .matAndCaro {
    width: 45%;
    border-radius: 50%;
  }

  .jenAndBen, .rawilElopement, .jesseAndNicole {
    width: 45%;
  }

  p {
    width: 700px;
  }

  .button {
    margin-top: 25px;
    cursor: pointer;
    background-color: white;
    padding: 10px 25px;
    color: teal;
    border-color: teal;
    font-family: 'poppins';
  }

  a {
    text-decoration: none;
  }

  footer {
    display: flex;
    justify-content: center;
    background-color: teal;
    height: 10vh;
    margin-top: 10vh;
  }
