@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

body {
  font-family: 'Poppins', 'Crimson Text';
}

.logo {
  width: 150px;
  margin: 0 0 0 70px;
}

.navContainer {
  display: grid;
  grid-template-columns:1fr;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: black;
} 

nav > ul > li {
  margin: 0 50px;
}

.logoContainer {
  grid-column: 1;
  grid-row: 1;
}

.navLinkContainer {
  grid-column: 1;
  grid-row: 1;
}

  .picture {
    width: 98%;
  }

  #frontPage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .ocean {
    width: 2700px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #description {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #description h2 {
    position: absolute;
    z-index: 1;
    color: white;
    font-family: 'Crimson';
    font-size: xx-large;
    font-weight: 100 ;
    letter-spacing: 2.5px;
    line-height: 220%;
    display: flex;
    text-align: center;
  }
  
  #description img {
    position: relative;
    z-index: 0;
  }
  

  .frontPageBackground {
    width:100%;
    display: flex;
    justify-content:center;
    align-items: center;
  }

  .aboutMe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px 0px 400px
  }

  .aboutMe h2 {
    display: flex;
    align-items: center;
    font-family: 'Crimson';
    letter-spacing: 1.5px;
    font-weight: 350;
    font-size: xx-large;
    margin: 0px 500px 75px 0px;
  }
  
  .me {
    display: block;
    width: 400px; 
    height: 600px; 
    margin-right: 20px; 
  }

  .ftm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px 0px 400px
  }

  .ftm h2 {
    display: flex;
    justify-content: center;
    font-family: 'Crimson';
    letter-spacing: 1.5px;
    font-weight: 350;
    font-size: xx-large;
    margin: 0px 00px 75px 0px;
  }

  .feelTheMoment {
    display: block;
    width: 400px; 
    height: 600px; 
    margin-right: 540px; 
  }

.centerMe {
  display:flex;
  justify-content: center;
  align-items: center;
}

.centerRawil {
  display:flex;
  justify-content: center;
  align-items: center;
}

.aboutMe p {
  display: flex;
  justify-content: center;
  margin: 0px 100px 0px 100px;
  width: 60%; 
}

.centerFtm, .hiImJosh {
  display: flex;
  flex-direction: column;
  align-items: center;
}

  footer {
    display: flex;
    justify-content: center;
    background-color: teal;
  }

  .button {
    margin-top: 70px;
    cursor: pointer;
    background-color: white;
    padding: 10px 25px;
    color: teal;
    border-color: teal;
    font-family: 'poppins';
  }

  .removeUnderline {
    text-decoration: none;
  }